
html, body, main {
    margin: 0;
    padding: 0;
}



html, body, main {
    margin: 0;
    padding: 0;
}


html {
    font-size: 10px;
    box-sizing: border-box;
}



body {

    font-family: Arial, Helvetica, sans-serif;
}

.heading-container {
    display: flex;
    padding: 1rem;
}

.name-container {
    font-size: 2.6rem;


}

.project-title-container {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    align-items: baseline;

    
}

.title {
    font-size: 8rem;
    font-weight: 400;
}

.description-container {
    font-size: 2rem;
    width: 40%;
    text-align: right;
}


.main-image-container {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: baseline;
}

.main-image-container img {
    width: 100%;
    height: auto;
 
}
