
@font-face {
    font-family: 'oracle-regular';
    src: url('../fonts/oracle-regular.woff') format('woff');
}
@font-face {
    font-family: 'oracle-medium';
    src: url('../fonts/oracle-medium.woff') format('woff');
}
html{
    margin:0;
    font-size: 10px;
    box-sizing: border-box;
}

.heading-container{
    font-family: 'oracle-regular';
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    
}

.about-container{
    font-size: 1.8rem;
    width: 50%;
    text-align: right;
}

.name-container{
    font-size: 2.4rem;
    text-align: left;
}

.main-container{ 
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
}

.table-container{
    display: flex;
    align-items: center;
 
    height: 80vh;
    width: 45%;
}

.zoom-container {
    width: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden; 
}

.zoom-container img {
    max-height: 75vh; 
    max-width: 100%; 
    height: auto;
    width: auto; 
    margin: auto; 
    display: block; 
}



.project-table th, .project-table td {
    border-bottom: 1px solid black;
    padding: 0.2rem;
    font-family: 'oracle-regular';
    text-align: left;
    font-size: 1.3rem;
    cursor: pointer;
}

.project-table td{
    width: 5%;
    word-wrap: break-word; 
    padding: 0.7rem


}

.hidden{
    display: none;
}


.project-table td:nth-child(3) {
    width: 5%;
}

.project-table td:nth-child(4) {
    width: 15%;
}



@media  screen and (max-width: 900px) {
    .heading-container {
        flex-direction: column;
        align-items: flex-start;
    
    }

    .name-container {
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    .about-container {
        font-size: 1.5rem;
        width: 100%;
        text-align: left;
    }

    .main-container{
        flex-direction: column;
        justify-content: space-between;
    }

    .table-container,
    .zoom-container {
        margin-top: 0.5rem;
        width: 100%;
    }

    .zoom-container{
        padding-bottom: 2rem;
    }
    .project-table th, .project-table td {
    font-size: 1rem;
    padding: 0.2rem;
    }
}