
@font-face {
    font-family: 'oracle-regular';
    src: url('../fonts/oracle-regular.woff') format('woff');
}
@font-face {
    font-family: 'oracle-medium';
    src: url('../fonts/oracle-medium.woff') format('woff');
}
html, body, main {
    margin: 0;
    padding: 0;
}


html, body, main {
    margin: 0;
    padding: 0;
}


html {
    font-size: 10px;
    box-sizing: border-box;
}

.hidden{
    display: none;
}

body {
    font-family: 'oracle-regular';
}



.name-container {
    font-size: 2.6rem;
}

.project-title-container {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    align-items: center;
    
}

.title {
    font-size: 8rem;

}

.description-container {
    font-size: 2rem;
    width: 35%;
    text-align: right;
}


.main-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}

.grid-container{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    width: 30%;
}


.grid-container img{
    width: 100%
}

.zoom-container{
    display: flex;
   justify-content: center;
   align-items: center;
    width: 65%;

}

.zoom-container img{
    width: 100%;
    height: auto;
    
}
.footing-container{
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
    font-size: 2rem;

}

.home-button {
    padding: 3rem;
    text-decoration: none; 
}

.home-button :hover {
    color: blue;
    text-decoration: none; 
}

@media  screen and (max-width: 900px) {
    .project-title-container {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1rem;
    
    }

    .title {
        font-size: 5rem;
        padding-bottom: 2rem;
    
    }

    .name-container {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .description-container {
        font-size: 1.5rem;
        width: 100%;
        text-align: left;
    }

    .main-container{
        flex-direction: column;
        justify-content: space-between;
    }
    .grid-container{
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
        overflow: auto;
        height:auto;
        width: 100%;
    }
    
    .zoom-container {
        margin-top: 0.5rem;
        width: 100%; 
        padding-bottom: 2rem;
    }

   

}